.button {
    background-color: var(--back-color-orange);
    cursor: pointer;
    border: none;
    color: var(--font-color-white);
    font-weight: 700;
    transition: .4s;
    border-radius: 80px;

    display: flex;
    align-items: center;
    gap: 5px;

    &:active {
        transform: scale(.9);
    }
}