.sort {
    .custom-select {
        position: relative;
        font-size: 16px;

        .selected-option {
            cursor: pointer;
            color: var(--font-color-black--light);
            margin-bottom: 10px;
            font-weight: 500;
            span {
                color: var(--font-color-grey--light);
                font-weight: 400;
            }
        }
        .options {
            position: absolute;
            z-index: 1;
            right: 0;
            border-radius: 15px;
            list-style-type: none;
            border: 1px solid #ccc;
            background-color: #fff;

            .option {
                padding: 10px;
                cursor: pointer;
                &:hover {
                    background-color: #f5f5f5;
                    color: var(--font-color-black--light);
                    font-weight: 400;
                }
            }
        }
    }
    .open {
        display: none;
    }
}